

    body {
      color: black;
      background-color: #c9d6ff
     
      
    }
    
    .imgRedonda {
    width:300px;
    height:300px;
    border-radius:160px;
    border:10px solid #666;
    }

    .container{
   text-align:center;
        }
    .box{
   display: inline-block;
        }
        p {
  font-family: verdana;
  font-size: 20px;
}
th {
    background-color: #4CAF50;
    color: rgb(196, 245, 198);
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}




      